<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Boredom Buddy</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Boredom Buddy!</h1>
    </div>

    <div class="container"><button onclick="apply()">I'm Bored</button></div>

    <div class="container"><img src="/boredgirl-removebg.png" alt="lady looking outside window"></div>

    <script>
        function apply() {
            window.location.href = "/main";
        }
    </script>
</body>

</html>